swagger: '2.0'
info:
  description: fuck the cs hse
  version: 1.0.0
  title: AMI
host: bestdomainever.com
basePath: /api
tags:
  - name: auth
    description: about authentication
  - name: students
    description: about students
  - name: groups
    description: about groups
schemes:
  - https
components:
  responses:
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The specified URL is illegal. Check data types
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Id:
      type: object
      properties:
        id:
          type: integer
          format: uint64
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message
    LoginResponse:
      type: object
      properties:
        token:
          type: string
          description: null
        valid_until:
          type: integer
          format: uint64
    Email:
      type: string
      format: email
    DateTime:
      type: object
      properties:
        timestamp:
          type: integer
    StudentPost:
      $ref: '#/components/schemas/StudentBase'
    ServerErrorResponse:
      type: object
      properties:
        error_code:
          type: integer
          example: 400
        error_subcode:
          type: integer
        error_description:
          type: object
          properties:
            ru:
              type: string
            en:
              type: string
    Name:
      type: object
      properties:
        first_name:
          type: string
          example: Иван
        last_name:
          type: string
          example: Иванов
        patronymic_name:
          type: string
          example: Иванович
    StudentBase:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/Name'
        birth_date:
          type: integer
          format: timestamp
          example: 905256000
        email:
          type: string
          format: email
          example: john_smith@example.com
        telegram_account:
          type: string
          format: telegram
          example: '@example'
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
